{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <!--optional JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.charts.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fusion.js' %}"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="container mt-5">
        <form action="" class="form-group d-flex">
            <input type="text" id="search" name="search" class="form-control" placeholder="Enter Username">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="cover cover-stat">
                    <div class="statistics">
                        <img src="{{data.avatar_url}}" class="avatar" alt="">
                        <div class="name">
                            <br>
                            <div class="">
                                <h3>{{data.login}}</h3>
                            </div>
                            <div class="">
                                <h5>{{data.name}}</h5>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div style="display:flex;">
                        <span class="material-icons" style="padding-right:20px;">
                            article
                        </span>
                        <h5>{{data.bio}}</h5>
                    </div>
                    <div style="display:flex;">
                        <span class="material-icons" style="padding-right:20px;">
                            attachment
                        </span>
                        <a href="{{data.html_url}}">{{data.html_url}}</a>
                    </div>
                    {% if data.blog %}
                    <div style="display:flex;">
                        <span class="material-icons" style="padding-right:20px;">
                            attachment
                        </span>
                        <a href="{{data.blog}}">{{data.blog}}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="cover">
                    <div class="followers">
                        {% for follower in follower_list %}
                        <div class="follower">
                            <div class="statistics">
                                <img src="{{follower.avatar_url}}" class="follower_avatar" alt="">
                                <div class="">
                                    <div class="follower-name">
                                        <p>{{follower.login}}</p>
                                        <a href="{{follower.html_url}}">{{follower.html_url}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div id="myFirstchart-container" class="cover">{{ output|safe }}</div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="cover">
                    <div class="repos">
                        {%  %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        newheight = $(".cover-stat").height()
        newwidth = $(".cover-stat").width()
        $(".followers").height(newheight)
        $("#myFirstchart-container").width(newwidth)
        $("#myFirstChart").width(newwidth)
    </script>
</body>

</html>