/* body,html{
    height: 100%;
    width: 100%;
} */

body{
    background-color: #caf0f8;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.cover{
    background-color: white;
    padding: 25px;
    margin: 25px 0;
}

.statistics{
    display: flex;
    justify-content: flex-start;
}

.name{
    padding-left: 40px;
}

.avatar{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.followers{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.follower{
    margin: 12px 0;
    background-color: #ebecf1;
}

.follower_avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.follower-name{
    padding-left: 20px;
    font-size: 15px;
}

.chart{
    height: 200px;
    width: 300px;
}